.App {
  text-align: center;
  padding:0px !important;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #eee;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
